#HistoryQuery {
    #HistoryQueryFilter {
        padding: 0.5rem;
        display: flex;
        flex-wrap: wrap;

        .dx-field {
            display: flex;
            width: 30%;
            margin-right: 1rem;
            // justify-content: space-between;
            // margin: 0.5rem 0;
            // .input-group-textselect {
            //     margin: auto 0 auto 0.5rem;
            // }
        }

        .timeContent {
            display: flex;

            .time_Box {
                width: 50%;
                display: flex;
                margin-right: 1rem;
                justify-content: space-between;

                .time_title {
                    margin: auto 1rem auto 0.5rem;
                }
            }
        }

        .inventoryblock {
            text-align: center;
            margin-top: 0.5rem;
        }
    }
}

@media (max-width: 400px) {
    #HistoryQuery {
        #HistoryQueryFilter {

            // display: block;
            .dx-field {
                width: 100%;
                margin-right: 0;
            }

            .timeContent {
                display: block;
                width: 100%;

                .time_Box {
                    width: 100%;
                }
            }

            .inventoryblock {
                margin: auto;
                margin-top: 0.5rem;
                #gridSearch {
                    width: 100%;
                }
            }
        }

        #HistoryQueryPanel {
            margin-top: 1.5rem;
        }
    }
}