#HistoryQuery {
    #HistoryQueryFilter {
        padding: 0.5rem;
        .input-group {
            display: flex;
            justify-content: space-between;
            margin: 0.5rem 0;
            .input-group-textselect {
                margin: auto 0 auto 0.5rem;
            }
        }
        .timeContent {
            .time_Box {
                display: flex;
                justify-content: space-between;
                .time_title {
                    margin: auto 0 auto 0.5rem;
                }
            }
        }
        .inventoryblock {
            text-align: center;
            margin-top: 0.5rem;
        }
    }
}

@media (min-width: 992px) {
    #HistoryQuery {
        #HistoryQueryFilter {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            .input-group {
                margin-right: 0.5rem;
                width: calc(96% / 5);
                margin: auto;
            }
            .timeContent{
                display: flex;
                .time_Box{
                    .time_title{
                        margin-right: .5rem;
                    }
                }
            }
            .inventoryblock {
                margin: auto;
                margin-left: 1rem;
            }
        }
        #HistoryQueryPanel {
            margin-top: 1.5rem;
        }
    }
}
