.dx-tab.dx-tab-selected {
    background-color: #333;
    color: #fff;
}
.dx-tab-selected .dx-icon {
    color: #fff;
}
.dx-tab {
    background-color: #fff;
    color: #333;
}
#HoldMoney {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    #tabs {
        .dx-fieldset {
            text-align: center;
            #content {
                margin-bottom: 1rem;
                .input-group {
                    margin-bottom: 0.5rem;
                    .input-group-textselect {
                        margin: auto;
                    }
                }
            }
        }
    }
    #gridContainer{
        width: 100%;
    }
}

@media (min-width: 768px) {
    #HoldMoney {
        display: flex;
        justify-content: center;
        #tabs {
            width: 50%;
        }
    }
}