* {
    list-style: none;
}
#gridContainer {
    padding: 0.5rem;
}

//table pagging
.dx-pager .dx-pages {
    display: flex;
    .dx-info {
        margin: auto;
        margin-right: 0.5rem;
        font-size: 1rem;
    }
}
#gridContainer {
    padding: 0.5rem;
}
@media (min-width: 768px) {
    #Header .navbar-nav .navbar-nav__meun {
        right: 1rem;
    }
    .dx-field-value:not(.dx-switch):not(.dx-checkbox):not(.dx-button) {
        width: 74%;
    }
}
@media (min-width: 992px) {
    .dx-field-value:not(.dx-switch):not(.dx-checkbox):not(.dx-button) {
        width: 64%;
    }
}
